################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/robvinkovic.github.io/config/applicationhost.config
/.vs/robvinkovic.github.io/v16/.suo
